:root {
    /* --orange-color: #ff5900; */
    --orange-color: #00ff00;
    --header-color: #000;
    --title-color: #21252b;
    --body-color: #282c34;
    --text-color: #abb2bf;
}

@import url('https://fonts.googleapis.com/css2?family=Changa&family=Orbitron&display=swap');

#top {
    background-color: var(--header-color);
    margin: 0;
    text-align: right !important;  
}

#playerNames {
    color: #fff;
    text-align: center;
}

#highNum {
    color: var(--orange-color);
}

#highName {
    color: #fff;
}

#playerInfoT {
    color: #fff;
}

#playerInfoB {
    color: var(--orange-color);
}

#navItem {
    color: #fff !important;
    font-size: 1.5em !important;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif !important;
}

.nav-item {
    width: 20rem;
    text-align: center;
}

@media only screen and (max-width: 765px) {
    #navItem {
      width: 37rem;
    }
}

#winnerNameSpan { 
    color: var(--orange-color);
    display: inline;
}


#navItem:hover {
    color: var(--orange-color) !important;
}

#cardBtn {
    background-color: var(--body-color) !important;
    color: white;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif !important;
    font-size: 1.3em;
    padding: 5px;
}

#cardBtn:hover {
    background-color: var(--body-color) !important;
    color: var(--orange-color) !important;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
}

#cardBtnIndex {
    background-color: var(--body-color) !important;
    color: white;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif !important;
    font-size: 2.3em;
    padding: 5px;
    margin-top: 15%;
}

#cardBtnIndex:hover {
    background-color: var(--body-color) !important;
    color: var(--orange-color) !important;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
}

#againBtn {
    background-color: var(--body-color) !important;
    color: white;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif !important;
    font-size: 1.3em;
    padding: 5px;
    text-align: center;
    display: none;
    margin-left: 46%;
}

#againBtn:hover {
    background-color: var(--body-color) !important;
    color: var(--orange-color) !important;
    border: 2px solid var(--orange-color);
    border-radius: 10px;
}

#nextH3 {
    color: #fff;
}

.optionsLabel {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif !important;

}

#score {
    color: var(--body-color);
    display: inline;
}

#questionsSpan {
    color: #fff;
}

.optionsInp {
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 437px) {
    .optionsInp {
        width: 100%;
    }   
}

@media only screen and (min-width: 438px) {
    
    .optionsInp {
        width: 80%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    .optionsInp {
        width: 60%;
    }
}

@media only screen and (min-width: 700px) {
    
    .optionsInp {
        width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {      
    .optionsInp {
        width: 45%;
    }
}

@media only screen and (min-width: 808px) {      
    .optionsInp {
        width: 43%;
    }
}

@media only screen and (min-width: 900px) {      
    .optionsInp {
        width: 37%;
    }
}

/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width: 1010px) {    
    .optionsInp {
        width: 33%;
    }
} */


/* #hamburgerButton {
    background-color: var(--orange-color) !important;
    z-index: 0;
    margin-right: 10px
} */

#hamburgerButton {
    background-color: var(--orange-color) !important;
    color: white !important;
    z-index: 0;
    margin-right: 10px
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#containerNavId {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    z-index: 100;
}

#playerScoreName{
    color: #fff;
}

#playerScoreNum{
    color: var(--orange-color);
}

#title {
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    background-color: var(--title-color) !important;
    color: var(--orange-color) !important;
    margin-bottom: 0;
}

#notFound {
    background-color: var(--title-color) !important;
    color: var(--orange-color) !important;
    margin-bottom: 0;
    height: 80%;
    width: 100%;
    position: absolute;
}

#titleNotFound {
    margin-top: 11%;
    font-size: 3.5em;
}

#titleH1 {
    margin: auto;
    font-size: 3.5em;
}

footer {
    text-align: center !important;
    font-size: 18px !important;
    background-color: var(--header-color);
    bottom: 0 !important;
    width: 100%;
    position: relative !important;
}

body {
    font-family: 'Changa', sans-serif;
    background-color: var(--body-color) !important;
    color: var(--text-color) !important;
}

#nameEnd {
    color: var(--orange-color) !important;
    font-family: 'Orbitron', sans-serif !important;
}

#socialsHeader {
    color: white !important;
    font-size: 28px !important;
    font-family: 'Orbitron', sans-serif !important;
}

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.btn-outline-github {
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    font-size: 1.5rem;
}

.btn-outline-github:hover {
    background: #181c24;
    color: #ffffff
}

#socialButton {
    margin-right: 10px;
}

.answers {

    height: 200px;
    padding: 20px;

}

.naked {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--text-color);
    color: #000;
    border-radius: 15px;
}

.answerText {
    color: #fff;
    opacity: 100;
}

